* {
  padding: 0;
  margin: 0;
  font-family: poppins;
  font-size: 18px;
}

.header {
  z-index: 100;
  margin: auto;
  padding-top: 20px;
  position: fixed;
  width: 100%;
}

.navbar {
  width: 80%;
  margin: auto;
  position: sticky;
  padding: 50px 0px;
}

.navelements {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#logo {
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 30%;
  padding: 6px;
  width: 30px;
}

.ul {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  list-style: none;
}

.ul a {
  text-decoration: none;
}

li a {
  color: white;
  border-radius: 10px;
  border-bottom: 1px solid #fab500;
  padding: 5px;
  font-weight: 700;
}

li a:hover {
  background-color: transparent;
  background-color: rgba(172, 171, 171, 0.582);
  transition-duration: 3s;
}

.scrolled {
  background-color: rgba(51, 48, 48, 0.589);
}

.toggle-btn {
  display: none;
  font-size: 25px;
  cursor: pointer;
  background: none;
  border: none;
  /* color: white; */
}

@media screen and (max-width: 1000px) {
  .ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    gap: 20px;
    background-color: #fab30050;
  }

  .ul.hide {
    display: none;
  }

  .toggle-btn {
    position: absolute;
    z-index: 100;
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(../images/MaterialSymbolsMenu.svg);
    right: 2%;
    top: 3%;
  }

  .btn-close {
    background-image: url(../images/MaterialSymbolsClose.svg);
  }
}

.serviceshero {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-image: linear-gradient(to right,
      rgba(7, 22, 134, 0.5),
      rgba(81, 6, 179, 0.5)),
    url(../images/CONSTRUCTION.webp);
  background-blend-mode: multiply;
  background-color: rgba(241, 236, 236, 0.791);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  align-content: center;
}

.h3 {
  margin-top: 20%;
  padding-bottom: 2%;
  color: white;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
}

.p {
  color: white;
}

.btn {
  padding: 12px;
  border-radius: 10px;
  border: none;
  /* font-size: 15px; */
  font-weight: 500;
  background-color: rgba(172, 171, 171, 0.582);
  margin-top: 3%;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  color: #fab500;
  background-color: transparent;
  transition-duration: 3s;
  transition-property: all;
  text-decoration: underline;
}

.btn a:hover {
  color: #fab500;
}

.bold {
  color: #fab500;
}

.whatwedo {
  height: 100%;
  margin-top: 10px;
}

.whatwedoo {
  box-shadow: 10px 15px 10px 5px rgba(54, 85, 83, 0.425);
  background-color: #5752928f;
  width: 80%;
  margin: auto;
  padding: 40px;
  align-self: center;
  text-align: justify;
}

.whatwedoo p {
  font-size: 15px;
}

#whatwedo {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.services {
  background-color: rgb(211, 192, 235);
  margin-top: 30px;
  padding-bottom: 30px;
}

.servicesgrid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  justify-items: center;
  gap: 30px;
}

.services h3 {
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.services h2 {
  font-size: 16px;
}

.text {
  align-content: center;
  background-color: #2108fd71;
  padding: 20px;
  border-radius: 15px;
  box-shadow: -10px 5px 10px 5px #283a47bd;
}

#icon {
  font-size: 40px;
  color: rgba(88, 24, 24, 0.877);
}

#services {
  padding-inline: 70px;
  margin-top: 40px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  justify-items: center;
  gap: 50px 30px;
}

.images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* ==========FOOTER======================== */
.footercontainer {
  padding: 20px 0px;
  margin: auto;
  background-image: linear-gradient(to right,
      rgba(7, 20, 121, 0.664),
      rgba(37, 2, 83, 0.664));
  color: rgba(255, 255, 255, 0.712);
  align-self: center;
}

.footer {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.footer-item h4,
.footertext h4 {
  color: #fab3009f;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer-item a {
  color: rgba(255, 255, 255, 0.849);
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline;
  font-size: 15px;
  transition-duration: 2s;
}

.footertext {
  width: 70%;
  line-height: 40px;
}

.copyright {
  background-image: linear-gradient(to right,
      rgba(7, 18, 102, 0.993),
      rgb(24, 3, 51));
  color: rgba(255, 255, 255, 0.849);
  padding: 10px;
}

#copyright {
  width: 80%;
  margin: auto;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#copyrightt {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.copyright a {
  color: white;
}